*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1300px;
    margin: 0 auto;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btns_nav{
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    padding: 8px 10px;
    margin: 2px;
    font-weight:bolder;
}

.date{
    /* padding: 8px 0; */
    margin: 20px;
}

.days{
    display: flex;
    flex-wrap: wrap;
    width: 728px;
    margin: 0 auto;
}
.calendar_day{
    padding: 5px;
    text-align: center;
    background: rgb(184, 184, 184);
    width: 100px;
    height: 100px;
    margin: 2px;
}

.week_days{
    display: flex;
    flex-wrap: wrap;
    width: 728px;
    margin: 0 auto;
}

.calendar_day.empty{

    opacity: .7;

}

.week_day{
    width: 100px;
    height: 20px;
    margin: 2px;
}

.now{
    background: rgb(5, 90, 124);
    color: #fff;
}

/* ________________________________________________________________________________ */

#chooseNode{
    margin: 0 0 0 10px;
    padding: 8px 10px;
}
